.cart-product-color-container {
  display: flex;
  flex-direction: row;
}
.cart-product-color {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  margin-top: 10px;
  color: #1D1F22;
}
.cart-product-color.active {
  border: 2px solid #5ECE7B;
}