.currency {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.current-currency {
  line-height: 45px;
  display: flex;
  justify-content: center;
}
.dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  width: 115px;
  z-index: -1000;
  top: -150px;
  transition: transform 200ms, opacity 300ms;
}
.label {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.arrow.active {
  transform: rotate(180deg);
}
.dropdown.active {
  opacity: 1;
  transform: translate(0px,200px);
  box-shadow: 0px 0px 3px black;
  z-index: 1000;
}
.label:hover {
  background-color: rgba(238, 238, 238, 1);
  transition: background-color 200ms ease-in-out;
}
.currency-dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 3px;
  padding-left: 20px;
}
.arrow {
  margin-left: 3px;
  transition: transform 200ms;
}
.invisible-curtain {
  display: none;
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  background-color: transparent;
}
.invisible-curtain.active {
  z-index: 900;
  display: block;
}